.card-Project {
  width: 300px;
  background-color: white;
  border-radius: 20px;
  overflow: hidden;
  border: 3px solid white;
}
.card-Project img {
  border-radius: 0 0 20px 20px;
  width: 300px;
  height: 400px;
  display: block;
}
