.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
.header img {
  width: 100px;
  margin-left: 25px;
}
.header .navDesktop {
  display: flex;
  gap: 50px;
  font-weight: bold;
  font-size: 26px;
  padding: 30px;
}

.link {
  text-decoration: none;
  color: inherit;
  transition: 0.3s;
}
.link:hover,
.link-active {
  text-decoration: underline;
  color: #72d2e1;
}
