.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.header img {
  width: 100px;
  margin-left: 25px;
}
.header nav {
  display: flex;
  gap: 50px;
  font-weight: 500;
  font-size: 26px;
  padding: 30px;
}
.link {
  text-decoration: none;
  color: inherit;
  transition: 0.3s;
}
.link:hover,
.link-active {
  text-decoration: underline;
}
