.home {
  text-align: center;
  display: flex;
  flex-direction: row-reverse;
}

.title-home {
  font-size: clamp(50px, 5vw, 150px);
}
.freelance {
  font-style: italic;
}

.home p {
  font-size: clamp(25px, 3vw, 55px);
}
.home .title,
.home p {
  text-align: center;
  padding: 30px 0;
}
