.IconBar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  left: 0;
}

.IconBar a {
  width: 40px;
  background-color: #72d2e1;
  margin: 25px;
  border-radius: 5px;
  padding: 5px;
  transition: 0.5s;
}
.IconBar a:hover {
  background: #1d3160;
}
