.NavMobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background: #ececec;
  position: absolute;
  right: 0;
  left: 0;
  top: 78px;
  z-index: 2;
}
.MenuBurger {
  display: none;
  width: 50px;
  height: 40px;

  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.Burger {
  position: relative;
  width: 28px;
  height: 4px;
  background: black;
  border-radius: 2px;
}

.Burger::before,
.Burger::after {
  position: absolute;
  content: "";
  right: 0;
  height: 4px;
  background: black;
  border-radius: 2px;
}
.Burger::before {
  bottom: 9px;
  width: 32px;
}
.Burger::after {
  top: 9px;
  width: 24px;
}
.MenuBurger.open .Burger::before {
  background: transparent;
}

.MenuBurger.open .Burger::after {
  width: 32px;
  transform: rotate(90deg);
  top: 0;
}
.MenuBurger.open .Burger {
  transform: rotate(-45deg);
  width: 32px;
}
@media screen and (max-width: 768px) {
  .header .navDesktop {
    display: none;
  }
  .MenuBurger {
    display: flex;
  }
}
