.Projects {
  font-size: 15px;
  margin-inline: 125px;
}

.title-projects {
  text-align: center;
  margin-block: 25px;
  font-size: 50px;
}

.cards-projects {
  display: flex;
  justify-content: space-between;
  gap: 25px;
  flex-wrap: wrap;
}
