.Projects {
  font-size: 15px;
  margin-left: 60px;
  margin-bottom: 15px;
}

.title-projects {
  text-align: center;
  margin-block: 10px;
  font-size: 24px;
  animation: ApparitionTitle 1.5s both;
}
@keyframes ApparitionTitle {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@media screen and (max-width: 650px) {
  .Projects {
    margin-left: 0;
  }
}
