body {
  color: white;
  background: rgb(22, 0, 46);
  background: linear-gradient(180deg, rgba(22, 0, 46, 1) 0%, rgba(3, 4, 138, 1) 49%, rgba(2, 3, 80, 1) 100%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
